aiofiles
aiohttp
dnspython
gitpython
heroku3
motor
pillow==9.5.0
py-tgcalls==2.3.3
pykeyboard
kurigram>=2.2.26
python-dotenv
pyyaml==6.0.1
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
beautifulsoup4
py-yt-search
psutil
